.centro{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center ;
    margin-top: 40px;
}

.linq{
    text-decoration: none;
    font-size: larger;
    color: rgb(255, 255, 255);
    background-color: black;
    border-radius: 15px;
    padding: 10px;
    display: inline-flex; /* para alinhar melhor o texto dentro do botão */
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

.linq:hover {
    background-color: #333; /* cor um pouco mais clara no hover */
    transform: scale(1.05);
}