.lista-filmes{
    max-width: 800px;
    margin: 14px auto;
}

.lista-filmes article{
    width: 100%;
    background-color: white;
    padding: 15px;
    border-radius: 4px;
}

.lista-filmes img{
    width: 900px;
    max-width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.lista-filmes strong{
    margin-bottom: 12px;
    text-align: center;
    display: block;
    font-size: 29px;
}

.lista-filmes a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
    background-color: #000000;  
    font-size: 18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: azure;
}

.lista-filmes a:hover{
    transform: scale(1.02);
    background-color: #24272c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.loading{
    justify-content: center;
    text-align: center;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}